/*styling #hex*/
/*custom font - Lato*/
/*@import url("http://fonts.googleapis.com/css?family=Lato:100");*/

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

/*make the body occupy full height*/
html, body {
    height: 100%;
}

#hex {
    color: white;
    font: 64px/64px Lato;
    height: 64px;
    /*Vertical centering*/
    position: relative;
    top: 50%;
    margin-top: -32px;
    /*Horizontal centering*/
    text-align: center;
}
